**
!build/
!build/roisey-else
!build/redis-server
!build/redis-runtime/
!build/redis-runtime/**
!build/ca-certificates.crt
!build/licenses/
!build/licenses/**
!build/data/
!build/data/roisey-else/
!frontend/
!frontend/dist/
!frontend/dist/**
